/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  -webkit-tap-highlight-color: transparent;
  /* 2 */
  height: 100%;
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  /* 1 */
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
}

* {
  box-sizing: border-box;

}

body {
  user-select: none;
}
